body{
    background: #eef2f3;
    font-family: Arial ;
}

.quiz-box{
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}
#timer{
    color : red;
    font-weight: bold;
    margin-bottom: 10px;
}